body {
    background-image: url(../assets/bg.jpg);
    background-attachment: fixed;
}

.charminar {
    width: 90px;
}

.telangana {
    width: 110px;
}

.cborder {
    border: 2px solid #008d76;
    background-color: white;
}

.heading {
    background-color: #008d76;
    min-height: 115px;
}

.heading h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
}

.well {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
}

h3 {
    color: #008d76;
}

.add-image {
    margin-top: 25px;
}

.itiming {
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

#todayTimings tbody tr {
    background-color: #d9edf7;
}

.img-responsive {
    width: 100%;
}

footer.container {
    background-color: #008d76;
    padding: 2%;
    color: white;
}

.h3-top {
    margin-top: 0px;
    margin-bottom: 25px;
}
